@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-lightPrimary dark:text-darkPrimary bg-lightBg dark:bg-darkBg transition-colors;
}

* {
  @apply transition-all duration-200;
}